<div id="nav">
    <div class="logo"><img class="invert" src="/img/sigil.png"></div>
    <div><!-- Spacer --></div>
    <div class="btn" onclick="openLink('/')"><p>Home</p></div>
    <div class="btn" onclick="openLink('/works')"><p>Works</p></div>
    <div class="btn" onclick="openLink('/authors')"><p>Authors</p></div>
    <div><!-- Spacer --></div>
</div>

<style>
    #nav {
        display: grid;
        grid-template-columns: 96px 48px 96px 96px 96px 1fr;
    }

    #nav > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #30302B;
    }

    #nav div.logo img {
        height: 64px;
    }

    #nav div.btn {
        font-family: Satoshi;
        cursor: crosshair;
        border-left: 1px solid #30302B;
        border-right: 1px solid #30302B;
        transition-duration: 0.25s;
        color: #FFFFE3;
    }

    #nav div.btn:hover {
        border-bottom: 1px solid #FFFFE3;
        color: #FFFFE3;
    }
</style>