@font-face {
    font-family: Satoshi;
    src: url(/css/Satoshi-Regular.ttf);
}

@font-face {
    font-family: GeneralSans;
    src: url(/css/GeneralSans-Semibold.ttf);
}

@font-face {
    font-family: Gambetta;
    src: url(/css/Gambetta-Regular.ttf);
}

body {
    display: grid;
    /* nav height, content height */
    grid-template-rows: 96px 1fr;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: #10100E;
}

a {
    color: inherit;
}

#nav {
    color: #FFFFE3;
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    width: 100%;
    max-width: calc(100vw - 64px);
    margin-bottom: 64px;
}

.grid > div {
    display: flex;
    flex-direction: column;
    /* height: min-content; */
    border: 1px solid #30302B;
    color: #FFFFE3;
    padding: 16px;
    cursor: crosshair;
}

.grid > div:hover {
    border: 1px solid #FFFFE3;
}

.invert {
    filter: invert(89%) sepia(17%) saturate(258%) hue-rotate(13deg) brightness(108%) contrast(106%);
}